In [2]:
print('hello world')

hello world

In [5]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('03_Library Systembook.csv')

# Remove rows with any empty cells
df.dropna(inplace=True)

df.head(n=20)

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1.0
1,2.0,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3.0
3,4.0,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4.0
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5.0
5,6.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
6,7.0,IT,"""10/04/2063""",03/04/2023,2 weeks,6.0
7,8.0,Misery,"""15/04/2023""",03/04/2023,2 weeks,7.0
8,9.0,Catch 22,"""15/04/2023""",16/04/2023,2 weeks,7.0
9,10.0,Animal Farm,"""20/04/2023""",24/04/2023,2 weeks,2.0
10,11.0,1984,"""23/04/2023""",27/04/2023,2 weeks,8.0
11,12.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
12,13.0,East of Eden,"""30/04/2023""",05/05/2023,2 weeks,2.0
13,14.0,America Is in the Heart,"""01/05/2023""",07/05/2023,2 weeks,3.0
14,15.0,Wuthering Heights,"""01/05/2023""",10/05/2023,2 weeks,9.0
15,16.0,Dark Tales,"""15/05/2023""",01/06/2023,2 weeks,2.0
16,17.0,The Bloody Chamber,"""32/05/2023""",04/06/2023,2 weeks,3.0
17,18.0,Les Miserables,"""03/06/2023""",07/06/2023,2 weeks,5.0
18,19.0,Dracula,"""10/06/2023""",10/07/2023,2 weeks,10.0
19,20.0,Frankenstein,"""01/06/2023""",20/06/2023,2 weeks,2.0

In [15]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('03_Library Systembook.csv')

# Replace NaN values with a specific value (e.g., 0)
df.dropna(inplace=True)

df.head())

SyntaxError: unmatched ')' (4198767478.py, line 9)

In [16]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('03_Library Systembook.csv')

# Replace NaN values with a specific value (e.g., 0)
df.fillna(0, inplace=True)

df.head(n=20)

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1.0
1,2.0,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3.0
3,4.0,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4.0
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5.0
5,6.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
6,7.0,IT,"""10/04/2063""",03/04/2023,2 weeks,6.0
7,8.0,Misery,"""15/04/2023""",03/04/2023,2 weeks,7.0
8,9.0,Catch 22,"""15/04/2023""",16/04/2023,2 weeks,7.0
9,10.0,Animal Farm,"""20/04/2023""",24/04/2023,2 weeks,2.0
10,11.0,1984,"""23/04/2023""",27/04/2023,2 weeks,8.0
11,12.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1.0
12,13.0,East of Eden,"""30/04/2023""",05/05/2023,2 weeks,2.0
13,14.0,America Is in the Heart,"""01/05/2023""",07/05/2023,2 weeks,3.0
14,15.0,Wuthering Heights,"""01/05/2023""",10/05/2023,2 weeks,9.0
15,16.0,Dark Tales,"""15/05/2023""",01/06/2023,2 weeks,2.0
16,17.0,The Bloody Chamber,"""32/05/2023""",04/06/2023,2 weeks,3.0
17,18.0,Les Miserables,"""03/06/2023""",07/06/2023,2 weeks,5.0
18,19.0,Dracula,"""10/06/2023""",10/07/2023,2 weeks,10.0
19,20.0,Frankenstein,"""01/06/2023""",20/06/2023,2 weeks,2.0

In [10]:
dfhead

NameError: name 'dfhead' is not defined

In [11]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('03_Library Systembook.csv')

# Remove double quotes from the 'date' column
df['date'] = df['date'].str.replace('"', '')

print(df)

KeyError: 'date'

In [12]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('03_Library Systembook.csv')

# Remove double quotes from the 'date' column
df['Book checkout'] = df['date'].str.replace('"', '')

print(df)

KeyError: 'date'

In [17]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv('03_Library Systembook.csv')

# Remove leading and trailing double quotes from the 'date' column
df['Book checkout'] = df['Book checkout'].str.strip('"')

df.head(n=20)

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,20/02/2023,25/02/2023,2 weeks,1.0
1,2.0,Lord of the rings the two towers,24/03/2023,21/03/2023,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,29/03/2023,25/03/2023,2 weeks,3.0
3,4.0,The hobbit,02/04/2023,25/03/2023,2 weeks,4.0
4,5.0,Dune,02/04/2023,25/03/2023,2 weeks,5.0
5,6.0,Little Women,02/04/2023,01/05/2023,2 weeks,1.0
6,7.0,IT,10/04/2063,03/04/2023,2 weeks,6.0
7,8.0,Misery,15/04/2023,03/04/2023,2 weeks,7.0
8,9.0,Catch 22,15/04/2023,16/04/2023,2 weeks,7.0
9,10.0,Animal Farm,20/04/2023,24/04/2023,2 weeks,2.0
10,11.0,1984,23/04/2023,27/04/2023,2 weeks,8.0
11,12.0,Little Women,02/04/2023,01/05/2023,2 weeks,1.0
12,13.0,East of Eden,30/04/2023,05/05/2023,2 weeks,2.0
13,14.0,America Is in the Heart,01/05/2023,07/05/2023,2 weeks,3.0
14,15.0,Wuthering Heights,01/05/2023,10/05/2023,2 weeks,9.0
15,16.0,Dark Tales,15/05/2023,01/06/2023,2 weeks,2.0
16,17.0,The Bloody Chamber,32/05/2023,04/06/2023,2 weeks,3.0
17,18.0,Les Miserables,03/06/2023,07/06/2023,2 weeks,5.0
18,19.0,Dracula,10/06/2023,10/07/2023,2 weeks,10.0
19,20.0,Frankenstein,01/06/2023,20/06/2023,2 weeks,2.0

In [18]:
import pandas as pd

# Load the original CSV
df = pd.read_csv("03_Library Systembook.csv")

# Save to a new CSV
df.to_csv("Cleaned_Books.csv", index=False)

print("Cleaned file saved as 'Cleaned_Books.csv'")

Cleaned file saved as 'Cleaned_Books.csv'

In [19]:

pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [22]:
from sqlalchemy import create_engine
import pandas as pd

# Replace with your actual database connection details
server = 'localhost'
database = 'your_database'
username = 'your_student07\admin'
password = 'your_password'
driver = 'ODBC Driver 17 for SQL Server'

connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}'
engine = create_engine(connection_string)